
body {
	border: 0;
	margin-top: 100px;
	margin-left: 100px;
	font-family: Tahoma;

	form {
		background-color: #ccc;
		max-width: 700px;
		padding-bottom: 50px;
	}

	div {
		clear:	both;
		padding-top : 10px;


		label,input,textarea {
			float:	left;
		}

		label {
			text-align:	right;
			min-width: 100px;
			margin-right: 20px;
			padding-top: 5px;
		}

		textarea {
			min-height: 100px;
		}
		input,textarea {
			min-width: 540px;
			padding: 4px 4px;
		}

		input[type=submit] {
			margin-left: 120px;
		}
		
	}
}