
html {
	overflow 					: -moz-scrollbars-vertical;
	overflow-y 					: scroll;
}

body {
	border						: 0;

	font-family					: Tahoma;
}

* {
	margin 						: 0;
}

h3 {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1.tit {
	margin 						: 80px 2% 20px;
}

img.auto {
	width 						: auto;
	height 						: auto;
	max-width 					: 100%;
	background-color			: #fff;
	border 						: 1px solid #000;
	margin 						: auto 0;
}

div {

	&.group-half-sec,
	&.group-full-sec {
		margin 					: 0;
		border					: 0;

		.section {
			min-width 				: 300px;
			margin 					: 10px 0;

			border					: 0;
		}
	}

	&.group-half-sec {
		.section {
			max-width			: 50%;
			width 	 			: 50%;

			float				: left;
		}
	}

	&.group-full-sec {
		.section {
			max-width			: 100%;
			width 	 			: 100%;
		}
	}


	&.clr,
	&.clear {
		clear 					: both;
	}

	&.hidden {
		display 				: none;
	}


	&.inner-sec {
		margin-left				: 2%;
		margin-right			: 2%;

		padding 				: 20px;

		background-color		: #ccc;


		form > div {
			.clr;

			margin-top 		: 10px;

			& > label {
				float			: left;
			}

			& > span {
			    overflow 		: hidden;
				display 		: block;
				padding-right	: 20px;
			}
		}

		input:not([type=radio]), textarea {
			width 				: 100%;
			padding 			: 4px 4px;
		}
		

		textarea {
			min-height 			: 100px;
		}

		label {
			text-align			: right;
			min-width 			: 100px;
			margin-right		: 20px;
			padding-top			: 5px;
		}

		div.button {
			span {
				margin-left 	: 120px;
				padding-right 	: 10px;
			}
		}

	}
}







/*
form {
	background-color: #ccc;
	max-width: 700px;
	padding-bottom: 50px;
}

div {
	clear:	both;
	padding-top : 10px;



	
}
*/