<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>StegaCrypt</title>
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<form action="" method="POST" enctype="multipart/form-data">

		<div>
		<label for="pass">Password</label>
		<input type="password" name="pass" id="pass" />
		</div>

		<div>
		<label for="png">PNG</label>
		<input type="file" name="png" id="png" />
		</div>

		<div>
		<input type="submit" />
		</div>
	</form>
</body>
</html>
