<% include header %>

	<form action="" method="POST" enctype="multipart/form-data">

		<div>
		<label for="pass">Password</label>
		<input type="password" name="pass" id="pass" />
		</div>

		<div>
		<label for="png">PNG</label>
		<input type="file" name="png" id="png" />
		</div>

		<div>
		<input type="submit" />
		</div>

		<div></div>
	</form>

<% include footer %>
