<% include header %>

	<form action="" method="POST" enctype="multipart/form-data">
		<div>
		<label for="cont">Content</label>
		<textarea name="cont" id="cont" /></textarea>
		</div>

		<div>
		<label for="pass">Password</label>
		<input type="password" name="pass" id="pass" />
		</div>

		<div>
		<label for="bit">Bits</label>
		<input type="number" name="bit" id="bit" min="1" max="4" value="1" />
		</div>

		<div>
		<label for="png">PNG</label>
		<input type="file" name="png" id="png" />
		</div>

		<div>
		<input type="submit" />
		</div>
	</form>

<% include footer %>
