<!doctype HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>StegaCrypt</title>
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
	<link href='static/styles.min.css' rel='stylesheet' type='text/css'>
</head>
<body>