<% include header %>

    <h1 class="tit">Encode &amp; Decode Testig Page </h1>

    <div class="group-full-sec">

      <!-- First Section -->

        <div class="section">
          <div>

            <div class="inner-sec">

              <h3>Encode</h3>

              <form id="f-encode" action="enc" method="POST">

                <div>
                  <label class="no-padd">Type</label>
                  <span>
                    <input type="radio" name="type" id="type_radio_0" value="0" checked /> <label class="no-padd" for="type_radio_0">Content</label>
                    <input type="radio" name="type" id="type_radio_1" value="1" /> <label class="no-padd" for="type_radio_1">File</label>
                  </span>
                </div>

                <div id="toggle_cont">
                  <label for="cont">Content</label>
                  <span><textarea name="cont" id="cont"></textarea></span>
                </div>

                <div id="toggle_file">
                  <label for="file">File</label>
                  <span><input type="file" name="file" id="file" /></span>
                </div>

                <div>
                  <label for="pass_e">Password</label>
                  <span><input type="password" name="pass" id="pass_e" /></span>
                </div>

                <div>
                  <label for="bits">Bits</label>
                  <span><input type="number" name="bits" id="bits" min="1" max="8" value="1" /></span>
                </div>

                <div>
                  <label for="png_e">PNG</label>
                  <span><input type="file" name="png" id="png_e" accept="image/png" /></span>
                </div>

                <div class="button">
                  <span><input type="submit" value="Encode" /></span>
                </div>

                <div class="clr"></div>
              </form>

            </div>

            <div id="enc-response" class="inner-sec hidden"></div>

          </div>
        </div>

      <!-- End of First Section -->


      <!-- Second Section -->

        <div class="section">
          <div>

            <div class="inner-sec">

              <h3>Decode</h3>

              <form id="f-decode" method="POST" action="dec">

                <div>
                  <label for="pass_d">Password</label>
                  <span><input type="password" name="pass" id="pass_d" /></span>
                </div>

                <div>
                  <label for="png_d">PNG</label>
                  <span><input type="file" name="png" id="png_d" accept="image/png" /></span>
                </div>

                <div class="button">
                  <span><input type="submit" value="Decode" /></span>
                </div>

                <div class="clr"></div>
              </form>

            </div>

            <div id="dec-response" class="inner-sec hidden"></div>

          </div>
        </div>

      <!-- End of Second Section -->

      <div class="clr"></div>
    </div>

<% include footer %>
